{%extends 'base.html'%}

{%block content%}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-center-mt-2">Detail</h1>
      <img src="{{article.image.url}}" alt="" style="max-width: 600px;">
      <h2>{{article.title}}</h2>
      <p>{{article.desc}}</p>
    </div>
    <div class="col-md-4">
      <h3 class="mt-2">les articles en relations</h3 class="mt-2">
      <div class="row">
        {%for art in aer%}
        {% if art.id != article.id %}
        <div class="col-md-7 mb-1">
          {%if art.image != "http://default" %}
          <a href="{%url 'detail' art.id %}">
            <img src="{{art.image.url}}" alt="" style="max-width: 160px;>
          </a>
          {% else %}
          <a href="{%url 'detail' art.id %}">
              <img src=" http://via.placeholder.com/400x300" class="card-img-top" style="max-width: 160px>
            </a>
            {%endif%}
          </div>
          <div class=" col-5">
          <strong>{{art.title}}</strong><br>
          {{art.desc|truncatewords:7}}
        </div>
        {%endif%}
        {%endfor%}
      </div>

    </div>
  </div>
</div>
{%endblock%}