
  <div class="container">
    <div class="row">
      {%for article in liste_articles %}
      <div class=" col-md-6 col-lg-3 col-xl-3">
        <div class="card">
          {% if article.image == "http://default" %}
          <a href="{%url 'detail' article.id %}">
            <img src="http://via.placeholder.com/400x300" class="card-img-top">
          </a>
          {% else %}
          <a href="{%url 'detail' article.id %}">
            <img src="{{article.image.url}}" class="card-img-top">
          </a>
          {% endif %}
          <div class="card-body" style="height: 230px;">
            <h5 class="card-title"><a href="{%url 'detail' article.id %}">{{article.title}}</a></h4>
              <p class="card-text">{{article.desc|truncatewords:8}}</p>
              <p class="card-text">{{article.created_at|timesince}}</p>
              <a href="{%url 'detail2' %}" class="btn btn-primary" data-mdb-ripple-init>Boutton</a>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
  {%include 'footer.html'%}
  <!-- MDB -->
  <script type="text/javascript" src="{%static 'js/mdb.umd.min.js' js%}"></script>
  <script type="text/javascript" src="{%static 'js/popper.min.js' js%}"></script>
  <script type="text/javascript" src="{%static 'js/mdb.min.js' js%}"></script>
  <!-- Custom scripts -->
  <script type="text/javascript"></script>
</body>

</html>